/* Centered form, one column with right aligned text-inputs */
.TokenBalance-form {
  display: flex;
  flex-direction: column;
  margin: auto 20%;
}

.TokenBalance-form > input {
  flex: auto;
}

.TokenBalance-form > input[type=text] {
  text-align: right;
}

.TokenBalance-form > input[type=text]::placeholder {
  text-align: left;
}